.mainLayout {
  position: relative;
  display: flex;
  min-height: 100svh;
}

.contentArea {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}

.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
