.footer {
  border-top: 1px solid #cccccc80;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  color: var(--text);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footerBottom {
  align-self: stretch;
  padding: 0 8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright {
  font-size: 13px;
}
